:root {
    --black-23: #232323;
    --black-32: #323232;
    --black-3c: #3c3c3c;
    --white-ff: #ffffff;
    --white-cf: #cfcfcf;
    --gray-c7: #c7c7c7;
}

.hidden {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

/* header */
#header .text_wrapper {
    display: flex;
    justify-content: flex-start;
    background: #ffe8e8;
    height: 36px;
    overflow: hidden;
}

#header .text_wrapper .run_text {
    font-size: 12px;
    text-transform: uppercase;
    color: #b05d5d;
    white-space: nowrap;
    padding: 0 60px;
    line-height: 36px;
    animation: move-rtl 6000ms linear infinite;
}

@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* header_title */
#header .header_title {
    display: flex;
    height: 100px;
    justify-content: space-between;
}

.header_title .header_title_left {
    margin: auto;
    margin-left: 15%;
    padding: 0 24px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -4px;
}

.header_title .header_title_right {
    margin-right: 15%;
    color: var(--black-23);
}

.header_title_right .header_title_right-item {
    padding-top: 20px;
}

.header_title_right .header_title_right-item:first-child {
    text-transform: uppercase;
    font-weight: 700;
    text-align: end;
    color: var(--black-23);
}

.header_title_right .header_title_right-item a{
    text-decoration: none;
    color: var(--black-32);
    padding: 0 24px;
}

/* navigation */
#header .navigation {
    height: 46px;;
    background-color: var(--black-23);
}

.navigation .button_menu {
    width: 46px;
    height: 46px;
    font-size: 14px; 
    border-radius: 10%;
    background-color: var(--gray-c7);
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
}

.navigation ul {
    margin-left: 15%;
}

.navigation .nav li {
    display: inline-block;
}

.navigation .nav li a {
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-ff);
    font-size: 14px;
    font-weight: 400;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

.navigation .nav li:hover a {
    color: var(--black-23);
    background-color: #ccc;
}

/* banner */
#banner {
    position: relative;
    padding-top: 50%;/*50% là 50% chiều ngang của chính nó*/
    background: url('/assets/img/banner.jpg') top center / cover no-repeat;
}

#banner .text_content {
    position: absolute;
    bottom: 40%;
    left: 10%;
    transform: translateX(-10%);
    text-align: center;
}

#banner .text_content .text_heading {
    color: var(--black-23);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;

}

#banner .text_content hr {
    width: 10%;
    height: 4px;
    background-color: #232323;
    margin: 2% auto 3% auto;
}

#banner .text_content .text_description {
    color: var(--black-23);
    font-size: 12px;
    max-width: 60%;
    margin: auto;
}

#banner .text_content .shop_now {
    display: inline-block;
    width: 190px;
    height: 40px;
    line-height: 38px;
    text-decoration: none;
    color: var(--white-ff);
    font-size: 14px;
    font-weight: 500;
    background-color: var(--black-23);
    border: #232323 2px solid;
    margin-top: 5%;
}

#banner .text_content .shop_now:hover {
    color: var(--black-23);
    background-color: var(--white-ff);
    transition: .5s ease;
}

/* content */
.content_section .category_cards_root {
    width: 100%;
    padding: 30px 16px 72px;
}

.category_cards_root .category_cards {
    display: flex;
    margin: 0px auto;/* căng giữ theo chiều ngang*/
    flex-wrap: wrap;
    max-width: 1170px;
} 

.category_cards .category_card {
    position: relative;
    text-decoration: none;
    flex: 1;
    margin: 0 1%;
    text-align: center;
}

.category_card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.category_card .category_card_content {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) translateY(50%);
    justify-content: center;
}

.category_card .category_card_content p {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--white-ff);
    letter-spacing: 2px;
}

/* new arrivals */
.content_section .newarrivals_products {
    margin: 66px 0;
}

.newarrivals_products .newarrivals_title {
    padding: 0 0 20px;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    color: var(--black-23);
    letter-spacing: 2px;
}
.newarrivals_products .view_all {
    width: fit-content;
    margin: 0 auto 70px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: var(--black-23);
    border-bottom: var(--black-3c) 1px solid;
}
.newarrivals_products .clothes_container {
    display: flex;
    justify-content: space-between; 
    text-align: center;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: auto;
}

.clothes_container .clothes_item {
    text-decoration: none;
    position: relative;
    margin-bottom: 24px;
}

.clothes_item .img_clothes_item {
    max-width: 370px;
}

.clothes_item .p_clothes_item {
    margin-top: 20px;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--gray-c7);
}

.clothes_item .name_clothes_item {
    margin-top: 20px;
    font-size: 12px;
    color: var(--black-23);
}

.clothes_item .price_clothes_item {
    padding: 12px 0 16px;
    font-size: 14px;
    font-weight: 700;
    color: var(--black-23);
}

.clothes_item .button_clothes_item {
    opacity: 0;
    width: 90%;
    height: 50px;
    padding: 1px 6px;
    border: 1px solid var(--black-23); 
    background-color: var(--white-ff);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    position: absolute;
	top: 68%;
	left: 50%;
	transform: translate(-50%, -50%); 
    cursor: pointer;
}

.clothes_item:hover {
    transform: scale(1.085);
    transition: all 1s ease;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 40px;
    transition: .8s;
}

.clothes_item:hover .button_clothes_item {
    opacity: 1;
    transition: .5s;
}

.button_clothes_item:hover {
    background-color: #161a21;
    color: #f8f7f4;
}

.category_cards_root .button_showmore {
    text-align: center;
}

.button_showmore .showmore {
    height: 45px;
    width: 300px;
    color: var(--black-23);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: var(--white-ff);
    border: var(--black-23) 1px solid;
}

.button_showmore .showmore:hover {
    cursor: pointer;
    background-color: var(--black-23);
    border: var(--white-ff) 1px solid;
    color: var(--white-ff);
    transition: .5s ease;
}

/* oninsta */

#oninsta {
    height: 526px;
    background-color: #fafafa;
    padding: 58px 0 70px;
    text-align: center;
}

#oninsta .oninsta_title {
    font-size: 20px;
    color: var(--black-23);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 20px;
}

#oninsta .oninstar_description {
    font-size: 12px;
    color: var(--black-3c);
    text-align: center;
    padding-bottom: 38px;
}

#oninsta .oninsta_slider {
    display: flex;
    justify-content: center;
    max-width: 1170px;
    margin: auto;
    margin-bottom: 30px;
    position: relative;
}

#oninsta .oninsta_slider .model_photo {
    flex: 1;
}

#oninsta .oninsta_slider img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    margin: 0 2px;
}

#oninsta .oninsta_slider button {
    width: 36px;
    height: 36px;
    border: var(--gray-c7) 1px solid;
    border-radius: 100%;
    font-size: 20px;
    color: var(--black-23);
    background-color: var(--white-ff);
    position: absolute;
    cursor: pointer;
}

#oninsta .oninsta_slider .prev_slider {
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}

#oninsta .oninsta_slider .next_slider {
    top: 50%;
    right: 0%;
    transform: translate(50%, -50%);
} 

#oninsta .oninsta_slider button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#oninsta .gallery {
    display: inline-block;
    width: 230px;
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: var(--white-ff);
    background-color: var(--black-23);
    border: var(--black-23) 1px solid;
}

#oninsta .gallery:hover {
    color: var(--black-23);
    background-color: var(--white-ff);
    border: var(--black-23) 1px solid;
    transition: .5s ease;
}

/* footer */

#footer {
    min-height: 458px;
    background-color: var(--black-23);
}

#footer .footer_root {
    max-width: 1170px;
    margin: auto;
    padding-top: 40px;
}

#footer .footer_root .footer_contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer_contact li {
    list-style: none;
}

.footer_contact .nav li:first-child {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white-ff);
    letter-spacing: 1px;
    padding-bottom: 8px;
}

.footer_contact li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 12px;
    color: var(--white-cf);
}

.footer_contact .shop {
    flex: 1;
}

.footer_contact .information {
    flex: 1;
}

.footer_contact .customer {
    flex: 1;
}

.footer_contact .newsletter {
    flex: 2;
}

.footer_contact .newsletter .callfor {
    font-size: 12px;
    color: var(--white-cf);
    padding-bottom: 20px;
}

.newsletter .small_form {
    max-width: 424px;
    padding-bottom: 35px;
}

.newsletter .small_form .form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.small_form .form input[type=text] {
    width: 75%;
    height: 45px;
    line-height: 45px;
    font-size: 12px;
    color: var(--white-cf);
    background-color: var(--black-23);
    padding: 19px 17px;
    border: var(--white-ff) 1px solid;
}

.small_form .form input[type=text]::placeholder {
    font-size: 12px;
    color: var(--white-cf);
}

.small_form .form input[type=submit] {
    width: 22%;
    height: 45px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--black-23);
    cursor: pointer;
}

.newsletter .contact_icons {
    display: flex;
    justify-content: space-between;
    max-width: 242px;
}

.newsletter .contact_icons .contact_icon {
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    color: #141414;
    background-color: var(--white-ff);
}

#footer hr {
    border: 0;
    border-top: 1px solid #282828;
    margin-top: 50px;
}


#footer .footer_root .footer_payment {
    display: flex;
    justify-content: space-between;
}

.footer_payment .copyright .copyright_description {
    font-size: 12px;
    color: var(--white-cf);
}




